.Register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    height: 100vh;
}

.Register-p{
    margin-top: 20px;
    color: #797B7C;
    font-size: 1.4rem;
}
.Register-p a {
    letter-spacing: -.1rem;
    text-decoration: none;
    color: #666769;
    font-weight: bold;
}
.Register-p a:hover{
    text-decoration: underline;
}